<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
	<test name="Nopackage">
		<classes>
           <class name="CustomAssert.SoftAssertverify"> 
<!-- 			<class name="GmailTests.GmailTest"> -->
				<!-- <methods> -->
				<!-- <include name="CheckInbox" /> -->

				<!-- <exclude name="CheckSentItems" /> -->
				<!-- </methods> -->
			</class>
		</classes>

		<!-- <packages> -->
		<!-- <package name="GmailTests" /> -->
		<!-- </packages> -->
	</test>

</suite>
